@import "./variables.scss";

html {
    background-image: var(--home-background);
    height : 100%;
}

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    margin : 0px;
    padding : 0px;
    color : var(--light-color);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: unset;
    text-decoration: unset;
}

.container {
    max-width: 100%;
}

.member {
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    display : inline-block;
    padding : 0.5rem 0.75rem;
    background: var(--button-color);
    color: var(--light-color);
    box-shadow: var(--shadow-light);
    font-size : 1.25rem;
    border: none;
    border-radius: 18px;
    margin : 1rem;
    cursor: pointer;
    transition: 0.25s;
}
button:hover{
    box-shadow: var(--shadow-dark);
    background: var(--button-select);
}
button:focus{
    background: var(--nav-text-dark);
}

input {
    padding : 0.5rem;
    border-radius: 0.15rem;
    width : 100%;
    border : none;
    transition: 0.25s;
    box-shadow: var(--shadow-light);

}
input:hover{
    box-shadow: var(--shadow-dark);
}
input:focus {
    box-shadow: var(--shadow-dark);
}
.center {
    display : flex;
    justify-content: center;
    padding : 1rem;
    .approvedColour {
        margin : 1rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top : 0.25rem;
        padding-bottom : 0.25rem;
        background-image: var(--card-background);
        border-radius: 50%;
    }
    .notApprovedColour {
        margin : 1rem;
        padding : 0.75rem;
        padding-top : 0.25rem;
        padding-bottom : 0.25rem;
        background-image: var(--card-not-approved);
        border-radius: 50%;
    }
}
.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    margin : 5rem;
    .loader-text{
        font-size: 140%;
        margin: 3rem;
    }
}

@media print {
    html {
        all : unset;
    }
    body {
        color : white;
    }
    button {
        all : unset;
    }
    button:hover{
        all : unset;
    }
    button:focus{
        all : unset;
    }
}