.loginRegister {
    display : flex;
    flex-direction: column;
    text-align : center;
    align-items: center;
}
.descriptionInputLogin {
    display : flex;
    flex-direction: column;
    padding : 2rem;
}
.descriptionInput {
    display : flex;
    flex-direction: column;
    padding-top : 1rem;
}
.description {
    display: flex;
    padding : 0.75rem;
}
.centerElements {
    display : flex;
    flex-direction: column;
    justify-content: center;
}