.card {
    margin : 25px;
    background-image: var(--card-background);
    box-shadow: var(--shadow-light);
    font-size : 12px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.25s;
    width: 385px;
    height: 235px;
    min-width: 385px;
    min-height: 235px;
    padding: 8px;
    border-radius: 15px;
    border : solid 3px #f8f5f1;
    .memberName{
        display : flex;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        width : 100%;
        .advocateIcon {
            display : flex;
            justify-content: flex-start;
            background-image : var(--advocate-icon);
            background-size: cover;
            height: 35px;
            width : 35px;
            padding-right: 15px;
        }
        .associationChunk {
            display: flex;
            flex-direction: column;
            align-items: center;
            width : 80%;
            .associationHeading {
                display : flex;
                justify-content: center;
                width : 100%;
                margin-left : 0.25rem;
                align-items: center;
                font-size: 120%;
            }
            .associationAddress{
                display : flex;
                justify-content: flex-end;
                float : right;
            }
        }
        

    }
    .cardContents {
        align-self: center;
        display : flex;
        background-image: var(--card-info-background);
        border-radius: 10px;
        max-height: 138px;
        min-height: 138px;
        .avatar {
            margin : 2px;
            margin-top: 20px;
            justify-content: cover;
            width : 100px;
            min-width: 100px;
            height : 100px;
        }
        .space{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width : 90%;
            .pad{
                display : flex;
                padding: 0px;
                margin : 5px;
                text-align: left;
                .memberInfo{
                    display : flex;
                    justify-content: flex-end;
                    font-family: Arial, Helvetica, sans-serif;
                    width : 100%;
                    font-size: 95%;
                }
            }
        }
    }

}
.card:hover {
    box-shadow: var(--shadow-dark);
}
.card:focus {
    background-image: var(--text-focus-color);
}

.nameDisplay {
    display : flex;
    flex-direction: column;
    .highlight{
        margin : 3px;
        align-items: center;
        font-weight: bold;
        display : flex;
        justify-content: flex-end;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 120%;
        .qualifications {
            margin-left: 0.5rem;
            font-weight: lighter;
            font-size: 80%;
        }
    }
    .advocate {
        display : flex;
        justify-content: flex-end;
        margin-bottom: 5px;
        font-size : 95%;
    }
}
h2 {
    display : flex;
    justify-content: center;
    padding-top : 2.75rem;
    padding-bottom: 2rem;
}

.not-approved {
    background-image: var(--card-not-approved);
}

.centerQRCode {
    display : flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .QRCode {
        margin : 1rem;
        margin-bottom: 0.75rem;
        width : 8rem;
        height : 8rem;
        border-radius: 1rem;
    }
    .signature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .signatureSpace {
            background-color: var(--light-color);
            border-radius: 1rem;
            padding : 1.5rem;
            margin: 1rem;
            width : 9rem;
        }
        
    }
}
.QRCodeURL {
    text-align: center;
    font-size: 90%;
}

@media only screen and (max-width : 650px) {
    .card {
        margin-left : 5px;
        margin-right: 5px;
        max-width : 370px;
        min-width: 370px;
        max-height: 230px;
        min-height: 230px;
    }
    .nameDisplay {
        font-size: 95%;
    }
    .card .memberName {
        font-size: 95%;
    }
    .card .memberName .advocateIcon {
        height : unset;
        width : unset;
        height: 32px;
        width : 32px;
        padding-right: 15px;
    }
    .card .cardContents {
        font-size: 95%;
    }
    .card .cardContents .avatar{
        all : unset;
        object-fit: cover;
        margin-top: 23px;
        width : 92px;
        min-width: 92px;
        height : 92px;
        border-radius: 50%;
    }
    .signature .signatureText {
        font-size: 90%;
    }
    .centerQRCode .QRCode {
        margin : 0.75rem;
        margin-bottom: 1.5rem;
        width : 7rem;
        height : 7rem;
        border-radius: 1rem;
    }
    .QRCodeURL {
        font-size: 80%;
    }
}
