.searchMembers {
    display : flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.suggestion {
    display : flex;
    margin-left: 7rem;
    margin-right: 7rem;
    justify-content: center;
    padding : 0.75rem;
    transition: 0.25s;
    border-radius: 1.5rem;
}
.suggestion:hover{
    background-image: var(--card-background);
    box-shadow: var(--shadow-dark);
}
h2{
    text-align: center;
}
input {
    width : 100%;
}
@media only screen and (max-width : 750px) {
    h2{
        font-size: 110%;
        margin-left: 20px;
        margin-right: 20px;
    }
    input {
        width : 100%;
    }
}