:root {
    --primary-color: #5aa897;
    --light-color: #f8f5f1;
    --button-select: #2978b5;
    --button-color : #329DE0;
    --text-dark-color: #333333;
    --text-focus-color : #ffc260;
    --shadow-light : 0 4px 8px 0 rgba(0,0,0,0.2);
    --shadow-dark : 0 8px 16px 0 rgba(0,0,0,0.4);
    --form-background : linear-gradient(to right top, #c377ff, #b87aec, #ae7dd9, #a47fc5, #9a80b2);
    --card-background : linear-gradient(to right, #528fea, #4793e8, #3e97e6, #369ae3, #329de0);
    --home-background : linear-gradient(to right top, #ff6e58, #ff674f, #ff5f46, #ff573d, #ff4f34);
    --navbar-background : url('../resources/img/skulls.png');
    --advocate-icon : url('../resources/img/advocate.png');
    --search-icon : url('../resources/img/search-icon.png');
    --avatar-placeholder : url('../resources/img/user.png');
    --edit-icon : url('../resources/img/edit-icon.png');
    --delete-icon : url('../resources/img/trash.png');
    --card-info-background : url('../resources/img/skulls.png');
    
}
